/* AppLayout.css */

.app-container {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 20px;
}


.filtered-books {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.card {
  flex: 1 1 160px;

  margin-bottom: 20px;
}



