
/* Banner Styles */
.banner-container {
  position: relative;
  height: 100vh;
  background: url('../../../public/images/1.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.banner-heading {
  font-size: 48px;
  margin-top: 20px; /* Adjust as needed for separation */
}

.banner-subheading {
  font-size: 24px;
}


