.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 400px;
  margin-top: 30px;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainconteiner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.text{
    color: darkmagenta;
    font-size: 16px;
    font-weight: 700;
}
.underline {
    width: 61px;
    height: 6px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.inputs {
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
}
.input{
 display: flex;
 align-items: center;
 margin: auto;
 width: 80%;
 height: 50px;
 padding-left: 20px;
 background-color: #f2f2f2;
 border-radius: 5px;
}
.input:hover{
    background-color: #e6e6e6;
} 
.input input {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: gray;
    font-size: 14px;
}
.forgot-password {
    padding-left: 30px;
    margin-top: 27px;
    color: gray;
    font-size: 14px;
    position: relative;
  }
  
  .forgot-password:hover {
    color: #007bff;
  }
  

  
  .forgot-password span {
    padding-left: 10px;
    color: #007bff;
    cursor: pointer;
  }
 
  .submit-container{
    display: flex;
    gap: 30px;
    margin: 25px auto;
  }
  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    color: #fff;
    background-color:darkmagenta;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;

  }
  .submit:hover {
    transform: scale(1.05);
  background-color:rgb(240, 89, 240);

  }
  .gray{
    background-color: #f2f2f2;
    color: gray;
  }
  
  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkmagenta;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color:rgb(240, 89, 240); 
      }
  }
  