*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{ 
    text-decoration: none;
}
li {
    list-style: none;
}
.btns {
    padding: 10px 20px;
    margin-right: 6px;
    background: darkmagenta;
    border: 1px solid gray;
    border-radius: 5px;
    color: #fcfafa;
    cursor: pointer;
}